button {
  padding: 0.5em 1em;
  border: 0.125em solid var(--black);
  font: inherit;
  background: var(--white);
}

[aria-expanded='false']::before {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

[aria-expanded='true'] {
  border-bottom: none;
}

[aria-expanded='true']::before {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

#menu {
  padding: 0;
  border: 0.125em solid var(--black);
  margin: 0 0 1em;
  list-style: none;
}

#menu a {
  display: block;
  padding: 0.5em 1em;
}
